/ {
    chosen {
        zmk,display = &oled;
        zmk,underglow = &underglow;
    };
};

&oled {
    status = "okay";
};

&underglow {
    status = "okay";
    chain-length = <7>;      /* 7 LEDs pro Hälfte */
    brightness = <30>;       /* 0–255 */
};
