/ {
    rgb_underglow: rgb_underglow {
        compatible = "worldsemi,ws2812-gpio";
        status = "okay";

        /* Lily58 Pro RE: 6 LEDs pro Half */
        chain-length = <6>;
        color-order = <1 0 2>; /* GRB */

        /* DATA PIN = pro_micro pin 1 (P0.06 bei nice_nano_v2) */
        gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>;
    };

    chosen {
        zmk,underglow = &rgb_underglow;
    };
};
